.restaurant-card {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 2rem auto;
  padding: 1rem;
  width: 85%;
  section {
    padding: 1rem;
  }
}

.card-description {
  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    p {
      margin-right: 1.25rem;
    }
  }
}

.card-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  p {
    display: flex;
    align-items: center;
    line-height: 1.4;
    position: relative;
    &::before {
      content: '';
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      min-width: 18px; height: 18px;
      margin-right: 0.5rem;
    }
    &.location {
      width: 50%;
      &::before {
        background-image: url('../../assets/images/pin.svg');
      }
    }
    &.phone {
      width: 40%;
      &::before {
        background-image: url('../../assets/images/phone.svg');
      }
    }
  }
}
