.clean-btn {
  border: 2px solid darken($error-color, 25%);
  border-radius: 1rem;
  color: darken($error-color, 25%);
  margin-left: 1rem;
  padding: 0.25rem 0.5rem;
  svg {
    transform: scale(0.8);
  }
  &:hover,
  &:focus {
    background-color: darken($error-color, 15%);
    color: $background-color;
  }
  &:active {
    transform: scale(0.85);
  }
}

.remove-btn {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 0.5rem;
  opacity: 0.5;
  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $box-color;
  border-radius: 50%;
  color: darken($box-color, 50%);
  margin-left: -1rem;
  padding: 0.5em;
  svg {
    height: 0.85rem;
  }
  &:hover,
  &:focus {
    background-color: darken($box-color, 50%);
    color: $background-color;
  }
}

.pagination-btn {
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 1.2em;
  background-color: $label-color;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  &:focus,
  &:hover {
    background-color: darken($label-color, 10%);
  }
  &:active {
    background-color: lighten($label-color, 10%);
  }
}
