@import "../../assets/css/variables.scss";

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid transparent;
  border-bottom: 2px solid $box-color;
  border-radius: 2rem;
  padding: 0 1rem;
  position: relative;
  min-width: 11rem;
  &#states,
  &#sorting {
    min-width: 9rem;
  }
  &:hover {
    box-shadow: 0px 0px 4px 0px transparentize($box-color, 0.2);
  }
  select {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    width: 100%;
    &[size="6"]:focus {
      background-color: #fff;
      border-top: 2px solid $box-color;
      border-radius: 1rem;
      box-shadow: 0px 0px 4px 0px transparentize($box-color, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      margin: auto;
      padding-bottom: 1rem;
    }
    option {
      padding: 0.5rem 1rem;
    }
  }
}
