$accent-font: 'Patrick Hand', cursive;
$base-font: 'Lato', sans-serif;

$background-color: hsla(20, 60, 99, 1);
$box-color: hsla(113, 37, 73, 1);
$accent-color: hsla(204, 42, 27, 1);
$dark-color: hsla(240, 9, 13, 1);
$error-color: hsla(12, 83, 62, 1);
$label-color: hsla(37, 89, 67, 1);
