@import "../../assets/css/variables.scss";
@import "../../assets/css/index.scss";

.search-form {
  display: flex;
  position: relative;
  width: 25%;
  input[type="text"] {
    border-bottom: 2px solid $box-color;
    border-bottom-left-radius: 1rem;
    transition: width 2s;
    padding: 0.3em 1.5em;
    &.opened {
      width: 100%;
    }
    &.closed {
      width: 35%;
    }
  }
}
