@import "../../assets/css/variables.scss";
@import "../../assets/css/index.scss";

.search-form {
  display: flex;
  position: relative;
  width: 30%;
  input[type="text"] {
    border-bottom: 2px solid $box-color;
    transition: width 2s;
    padding: 0.3em 1em;
    &.opened {
      width: 100%;
    }
    &.closed {
      width: 25%;
    }
  }
  .none {
    display: none;
  }
  .remove-btn {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    width: 0.5rem;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $box-color;
    border-radius: 50%;
    color: darken($box-color, 50%);
    margin-left: -1rem;
    padding: 0.5em;
    svg {
      height: 0.85rem;
    }
    &:hover {
      background-color: darken($box-color, 50%);
      color: $background-color;
    }
  }
}
